/* Основные стили для страницы */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(134, 103, 0, 0.315);
    color: white;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Стили для формы */
form {
    background: rgba(65, 44, 44, 0.432);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}
#form_wyl{
    background: none;
    backdrop-filter: none;
    border-radius: 15px;
    box-shadow: none;
    width: none;
    max-width: 600px;
    margin: none;
    margin-top: -10px;
    margin-left: -28px;
}

.form-group {
    margin-bottom: 10px;
    margin-right: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group textarea,
.form-group #tytol,
.form-group #tresc,
.form-group #data {
    width: 100%;
    padding: 12px;
    scroll-margin-right: 30px;
    border: 2px solid rgba(197, 151, 0, 0.315);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    font-size: 16px;
    transition: all 0.3s ease;
}

.form-group input[type="file"],
.form-group #zdjecia {
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.9);
    border:2px solid rgba(197, 151, 0, 0.315);
    border-radius: 8px;
    cursor: pointer;
    color: #333;
    transition: all 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #b061ff;
    box-shadow: 0 0 15px rgba(98, 0, 234, 0.3);
    transform: translateY(-2px);
}

.form-group textarea {
    min-height: 120px;
    resize: vertical;
}

button[type="submit"] {
    background-color: rgba(197, 151, 0, 0.515);
    color: rgb(0, 0, 0);
    padding: 6px 22px;
    border: 3px solid #580000;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 150px;
    display: block;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    margin-top: 4px;
}

button[type="submit"]:hover {
    background-color: rgba(197, 151, 0, 0.615); 
    border: 3px solid #310085;
    transform: scaleX(1.1);
}

button[type="submit"]:active {
    transform: translateY(1px);
}
button[type="reset"] {
    background-color: rgba(197, 151, 0, 0.515);
    color: rgb(0, 0, 0);
    padding: 6px 28px;
    border: 3px solid #580000;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
    font-size: 16px;
    text-transform: uppercase;
    width: auto;
    display: block;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
button[type="reset"]:hover {
    transform: scaleX(1.1);
    border: 3px solid #310085;
}

button[type="reset"]:active {
    transform: scaleX(1.1);
}


/* Кнопка открытия панели */
.button {
    position: fixed;
    top: 10px;
    left: 20px;
    padding: 6px 22px;
    background-color: rgb(255, 153, 0);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    z-index: 1000;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.button:active {
    transform: scale(0.9);
}

/* Боковая панель */
.panel {
    position: fixed;
    top: -550px;
    left: 0;
    max-height: 550px;
    width: 170px;
    background-color: #693f005e;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: top 0.7s ease;
    border-radius: 0 0 25px 0;
    z-index: 999;
}

.panel.open {
    left: 0;
    top: 0;
}

.panel h2 {
    margin-top: 0;
    color: #6200ea;
    font-family: cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.panel ul {
    list-style-type: none;
    padding: 0;
}

.panel ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.panel ul li:last-child {
    border-bottom: none;
}

/* Кнопки в панели */
.el_panel_gl {
    padding: 6px 22px;
    font-size: 100%;
    width: 150px;
    background-color: rgba(197, 151, 0, 0.315);
    color: #000000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s, box-shadow 0.2s, background-position 0.5s ease;
    border: 3px solid #580000;
    text-align:center;
    transform: scaleX(1.0);
}
.el_panel_li{
    margin-bottom: 10px;
}

.el_panel_gl:hover {
    background-color: rgba(197, 151, 0, 0.658);
    transform: scaleX(1.1);
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.4);
    border: 3px solid #310085;
}

.el_panel_gl:active {
    transform: scale(0.9);
}

/* Скрытые секции */
.main {
    display: none;
}

.main.active {
    display: block;
}

/* Оверлей */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

#overlay img {
    max-width: 70%;
    max-height: 70%;
}

#overlay #close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 1100;
}

/* Стили для изображений превью */
.preview {
    display: flex;
    flex-wrap: wrap;
}

.preview img {
    width: 44px;
    height: 44px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
    border-radius: 5px;
    box-shadow: 2px 3px 1px #000000;
}

.preview img:hover {
    transform: scale(1.2);
}
#preview_1, #preview_2, #preview_3, #preview{ 
    background-color:rgba(38, 0, 255, 0.164); 
    margin-top: 5px;
    padding: 10px; 
    border-radius: 5px; 
    width: 100%; 
    height: 100%;
}

/* Стили для формы логина */
#logowanie {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 100%;
    max-width: 400px;
}

.login-form {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 25px;
    box-shadow: 10px 14px 25px rgba(0, 0, 0, 0.4);
}

.login-form .form-group {
    margin-bottom: 30px;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 21px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 2px solid #6200ea;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    font-size: 20px;
    transition: all 0.3s ease;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    outline: none;
    border-color: #b061ff;
    box-shadow: 0 0 15px rgba(98, 0, 234, 0.3);
    transform: translateY(-2px);
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-back,
.btn-login {
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.btn-back {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    
}

.btn-login {
    background: linear-gradient(45deg, #6200ea, #b061ff);
    color: white;
    box-shadow: 0 4px 15px rgba(98, 0, 234, 0.3);
}

.btn-back:hover,
.btn-login:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(98, 0, 234, 0.4);
}

.btn-back:hover {
    background: rgba(255, 255, 255, 0.3);
}

.btn-login:hover {
    background: linear-gradient(45deg, #b061ff, #6200ea);
}

.btn-back:active,
.btn-login:active {
    transform: translateY(1px);
}